<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app_bun">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_bun"
        tools:targetApi="31">

        <!-- Activitatea principală (Launcher) -->
        <activity
            android:name=".Lab4"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Alte activități -->
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".DataEntryActivity" android:exported="true" />
        <activity android:name=".DetaliiImagineActivity" android:exported="true" />
        <activity android:name=".FavoriteOnlineActivity"/>
        <activity android:name=".ListaImaginiActivity" android:exported="true"/>

        <!-- Alte activități pot fi adăugate după caz -->
    </application>

</manifest>

